<!DOCTYPE html>
<html ng-app="firstApp">
<head>
    <title>Moja strona</title>
    <meta charset="utf-8" />
    </head>
    <body>
        <div class="container">
            <p> {{2+2}}  </p>
            <div ng-controller="firstController">
            {{message}}
                <p>Mr {{ user.name }} {{ user.lastname }} ({{user.salary | currency}}) {{user.birthday|date:"dd/MM/yyyy"}}</p>
                <div ng-controller="thirdController">
                    {{ message }} &bull; {{ $parent.message }}
                    <ul>
                        <li ng-repeat="item in myList">{{item}}
                        </li>
                        <button ng-click="showMessege()">Wyświetl</button>
                    </ul>
                </div>
            </div>
        <div ng-controller="secondController as secondC">
            {{secondC.info}}
            </div>
        </div>
        <div ng-controller="fourthC">
            <button ng-click="showCurrencies()">Pokaż waluty</button>
            <div id="result">
                {{rates}}
            </div>
        </div>
        
        <div ng-controller="fiveC">
            <button ng-click="showPeople()">Pokaż osoby</button>
            <div id="myPeople">
                {{rates}}
            </div>
        </div>
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js">
        </script>
        <script src="./js/app.js"></script>
    </body>
</html>