<!DOCTYPE html>
<html ng-app="temperature">
    <head>
        <title>Temperature</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="./CSS/style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
    </head>
    <body>
        <div  class="pager" class="container">
           
                <div class="page-header">
                    <h1>Temperature</h1>
                </div>
                                         
          
                <div ng-controller="firstController">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">           
                            <label for="celcius">Celcius: </label>
                            <input type="text" ng-model="celcius" ng-keyup="computeC()"/>
                        </div>
                        <div class="col-md-4"></div>
           
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">   
                            <label for="kelvin">Kelvin</label>
                            <input type="text" ng-model="kelvin" ng-keyup="computeK()"/>    
                        </div>
                        <div class="col-md-4"></div>
           
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">           
                            <label for="fahrenheit">Fahrenheit</label>
                            <input type="text" ng-model="fahrenheit" ng-keyup="computeF()"/>
                    
                        </div>
                        <div class="col-md-4"></div>
           
                    </div>
                </div>
        </div>
        <footer>
        <md-toolbar class="md-scroll-shrink">
          <div layout="row" layout-align="center center" flex>
           Created by: Ida
          </div>
        </md-toolbar>
      </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js">
        </script>
        <script src="./js/app.js"></script>
    </body>

</html>