
.container {
    width: 1000px;
    margin: 0 auto;

}

.myMenu {
    width: 300px;
    float: left;
    background-color: inherit;
    height: 400px;

}

.myContent {
    width: 700px;
    background-color: inherit;
    float: left;
}

.myFooter {
    padding: 15px;
    background-color: darkseagreen;
    text-align: center;
}

.myHeader {
    padding: 30px;
    height: 70px;
    background-color: darkseagreen;
    text-align: center;
}
