body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

#container{
    width: 1000px;
/*    border: 1px solid black;*/
/*    text-align: center;*/
    margin: 0 auto;
}
.left{
    width: 700px;
    background-color: azure;
   
    
}

.right{
    width: 300px;
    background-color: white
   
}

.floatLeft{
    float: left;
}

#container:after{
    content: "";
    display: block;
    clear: :both;
}

/*
.right:after{
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
}
*/

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav>ul>li{
    padding: 5px 10px;
    text-align:center;
}

h1.menu{
    text-transform: uppercase;
    text-align: center;
}