<div class="well">
  <h3>Dodaj zajęcia:</h3>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj nazwę zajęć" ng-model="lessonName">
            
            <textarea class="form-control" name="description" ng-model="lessonDescription" placeholder="Opis zajęć..."></textarea>
            
            <textarea class="form-control" name="comment" ng-model="lessonComment" placeholder="Uwagi..." ></textarea>
            <input type="text" class="form-control" placeholder="start" ng-model="lessonStartTime">
            <input type="text" class="form-control" placeholder="end" ng-model="lessonEndTime">


            <select class="form-control" ng-model="lessonDayOfWeek" label="Dzień tygodnia">
                <option>MONDAY</option>
                <option>TUESDAY</option>
                <option>WEDNESDAY</option>
                <option>THURSDAY</option>
                <option>FRIDAY</option>
                <option>SATURDAY</option>
                <option>SUNDAY</option>
            </select>
                    
             <select class="form-control" ng-model="lessonStyle">
               <option ng-repeat="style in styles" value="{{ style.name }}">{{ style.name }}</option>         
            </select>
            
            <select class="form-control" ng-model="lessonSchool">
                <option ng-repeat="school in schools" value="{{ school.id }}">{{ school.name }}</option>                
            </select>
            
             <select class="form-control" ng-model="lessonTeacher">
               <option ng-repeat="t in teachers" value="{{ t.id }}">{{ t.name }} {{t.lastname}}</option>         
            </select>
                                    
            
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj zajęcia</button>
            
        </div>
    </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    
</div>