<div class="well">
    <h3>Użytkownicy:</h3>
    <hr>
    <p ng-if="message">{{message}}</p>
    <ul>
        <li ng-repeat="user in users"><a href="/#!graphics/{{ user.id }}">{{ user.name }} {{user.lastname}}</a></li>
    </ul>
        <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Imię" ng-model="name">
           
            <input type="text" class="form-control" placeholder="Nazwisko" ng-model="lastname">
                                              
            
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj użytkownika</button>
            <p ng-if="message">{{message}}</p>
            
        </div>
    </div>
    </div>
    
</div>

