<div class="well">
    <h3>Mój grafik:</h3>
    <p>Użytkownik: {{user.name}}</p>
        <ul>
        <li ng-repeat="lesson in user.userLessonList">{{ lesson.opinion }} {{lesson.lesson.name}} {{lesson.lesson.dayOfWeek}} {{lesson.lesson.startTime}}-{{lesson.lesson.endTime}}
            <a href="/#!lessons/{{ lesson.lesson.id }}">opis zajęć</a>
            </li>
    </ul>
    
</div>

