<div class="well">
    <h3>{{ lesson.name }}</h3>
    <p>opis: {{lesson.description}}</p>
    <p>instruktor: {{lesson.teacher.name}} {{lesson.teacher.lastname}}</p>
    <p>styl: {{lesson.style.name}}</p>
    <p>czas: {{lesson.dayOfWeek}}, {{lesson.startTime}}- {{lesson.endTime}}</p>
    
    
    
    <input type="text" class="form-control" placeholder="Moja opinia" ng-model="opinion">
    <input type="text" class="form-control" placeholder="ID użytkownika" ng-model="userID">
     <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj do grafiku</button>
    
    <p ng-if="message">{{message}}</p>
</div>