<div class="jumbotron">
    <h1>Witaj na mojej stronie.</h1>
    <hr>
    <p>MyDanceGraphic to aplikacja .... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet est nec nulla aliquam rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ut nisl at diam dictum venenatis vel in tellus. Phasellus feugiat nulla a faucibus vehicula. Pellentesque vestibulum ipsum ultrices sapien scelerisque, ac laoreet eros tristique. Fusce vel posuere orci. Proin ullamcorper egestas feugiat. Suspendisse potenti. Integer in interdum neque. Quisque porttitor faucibus arcu eu molestie. Duis placerat tincidunt pellentesque. Cras condimentum feugiat ex, eget mollis risus sodales in. Etiam gravida condimentum mauris vitae suscipit. Vivamus aliquet arcu quis condimentum tincidunt.

Morbi a sollicitudin odio. Nullam blandit volutpat lorem, et aliquam magna cursus id. Donec euismod imperdiet tellus, in elementum enim ullamcorper id. Aliquam ullamcorper augue id hendrerit dapibus. In vitae aliquet sapien. Donec quam lorem, bibendum vitae lacus ac, blandit finibus justo. Aliquam nec enim ante. Aliquam at posuere mi.</p>
</div>