<div class="well">
    <h3>Szkoły w bazie:</h3>
    <ul>
        <li ng-repeat="school in schools"><a href="/#!schools/{{ school.id }}">{{ school.name }}</a></li>
    </ul>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="nazwa" ng-model="name">
           
            <input type="text" class="form-control" placeholder="Adress" ng-model="adress">
                                              
             <textarea class="form-control" name="comment" ng-model="description" placeholder="Opis..." ></textarea>
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj szkołę</button>
            <p ng-if="message">{{message}}</p>
            
        </div>
    </div>
    </div>
</div>