<div class="well">
  <h3>Znajdź zajęcia:</h3>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj fragment nazwy zajęć" ng-model="lessonName">            
                          
             <select class="form-control" ng-model="lessonStyle">
               <option ng-repeat="style in styles" value="{{ style.name }}">{{ style.name }}</option>      
            </select>
            
            <select class="form-control" ng-model="lessonSchool">
                <option ng-repeat="school in schools" value="{{ school.id }}">{{ school.name }}</option>              
            </select>                                             
            
            <button class="btn btn-success m-t-30" type="button" ng-click="show()">Szukaj</button>
            
        </div>
    </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <h3>Znalezione zajęcia:</h3>
     <ul>
        <li ng-repeat="lesson in lessons"><a href="/#!lessons/{{ lesson.id }}">{{ lesson.name }}</a></li>
    </ul>
  
    
</div>