<div class="well">
    <h3>Nasze style:</h3>
    <ul>
        <li ng-repeat="style in styles"><a href="/#!styles/{{ style.id }}">{{ style.name }}</a></li>
    </ul>
        <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nazwa" ng-model="name">
           
            <input type="text" class="form-control" placeholder="Opis" ng-model="description">
          
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj styl</button>
            <p ng-if="message">{{message}}</p>
            
        </div>
    </div>
    </div>
</div>
