<div class="well">
    <h3>Nasi instruktorzy:</h3>
    <ul>
        <li ng-repeat="teacher in teachers"><a href="/#!teachers/{{ teacher.id }}">{{ teacher.name }} {{ teacher.lastname }}</a></li>
    </ul>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Imię" ng-model="name">
           
            <input type="text" class="form-control" placeholder="Nazwisko" ng-model="lastname">
          
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj instruktora</button>
            <p ng-if="message">{{message}}</p>
            
        </div>
    </div>
    </div>
</div>
