<div class="well">

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dodaj profesje</h3>
            <hr>
            <p ng-if="message">{{ message }}</p>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="name" placeholder="Podaj nazwę..."/>
            
            <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" ng-click="add()">Dodaj</button>    
                </span>
            </div>
            
            
            
            
            <h3>Profesje</h3>
            <hr>
            <ul>
                <li ng-repeat="profession in professions"><a href="/#!profession/{{ profession.id }}">{{ profession.name }}</a></li>
            </ul>
        </div>
    </div>
</div>
