<div class="well">
   
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dodaj gatunek</h3>
            <hr>
            <p ng-if="message">{{ message }}</p>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="name" placeholder="Podaj nazwę..."/>
                <textarea class="form-control" name="description" ng-model="description" placeholder="Opis gatunku..."></textarea>

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" ng-click="add()">Dodaj</button>    
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Gatunki</h3>
            <hr>
            <ul>
                <li ng-repeat="specie in species"><a href="/#!specie/{{ specie.id }}">{{ specie.name }}</a></li>
            </ul>
        </div>
    </div>
</div>