<div class="well">
    <h3>{{ staff.name }}</h3>
    <div class="row">
        
        <div class="col-md-12">
            <p><strong>Gatunek: </strong><a href="/#!specie/{{ animal.specie.id }}">{{ staff.profession.name }}</a></p>
            
        </div>
    </div>
</div>